@model SocialJohnny.Models.Group


@{
    ViewBag.Title = "Index";
}

<h2>Groups</h2>

<h3>@ViewBag.deleteMessage</h3>
<h3>@ViewBag.addMessage</h3>
<h3>@ViewBag.editMessage</h3>

<form method="post" action="/Groups/New">

    @Html.Label("Name", "Nume Grup")
    @Html.Editor("Name")
    @Html.ValidationMessageFor(m => m.Name, "Numele este obligatoriu", new { @class = "text-danger " })

    <label>Privat</label>
    <select name="IsPrivate">
        <option value="true">Privat</option>
        <option value="false">Public</option>
    </select>

    <button type=" submit">Adauga</button>

</form>


@foreach (var group in ViewBag.groups)
{
    <h1>@group.Name</h1>
    <form action="/Groups/Edit/@group.GroupId">
        <button type="submit">Edit Group</button>
    </form>
    <form method="post" action="/Groups/Delete/@group.GroupId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Delete Group</button>
    </form>
    <br />
}
