@model SocialJohnny.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Editare Postare</h2>

<form method="post" action="/Posts/Edit/@Model.PostId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.Label("Text", "Text postare")
    <br />
    @Html.TextBox("Text", null, new { @class = "form-control"})


    @Html.Label("Title", "Titlu postare")
    @Html.TextBox("Title", null, new { @class = "form-control"})
  
    
    <button type=" submit">Modifica postarea</button>


</form>