@model SocialJohnny.Models.Comment

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>@ViewBag.deleteMessage</h3>
<h3>@ViewBag.addMessage</h3>
<h3>@ViewBag.editMessage</h3>
<h3>@ViewBag.Allow</h3>

<form method="post" action="/Comments/New">


    @Html.Label("Text", "Text Comentariu")
    @Html.Editor("Text")
    @Html.ValidationMessageFor(m => m.Text, "Numele este obligatoriu", new { @class = "text-danger " })

    <br />

    <input type="hidden" name="PostId" value="@ViewBag.PostId" />
    <button type="submit">Adauga</button>

</form>


@foreach (var comment in ViewBag.comments)
{
    <h2>@comment.Text</h2>
    <h3>@comment.Date</h3>
    <form action="/Comments/Edit/@comment.CommentId">
        <button type="submit">Edit Comment</button>
    </form>
    <form method="post" action="/Comments/Delete/@comment.CommentId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Delete Comment</button>
    </form>

    <br />
}
