
@{
    ViewBag.Title = "Find";
}

<h2>@ViewBag.nickname</h2>

@foreach (var profile in ViewBag.profiles)
{
    <h2>@profile.Nickname</h2>
    <br />
    <h2>@profile.FirstName</h2>
    <br />
    <h2>@profile.LastName</h2>
    <br />

    <form method = "post" action="/Profiles/FriendRequest/@profile.ProfileId">
        <input type="hidden" value="@ViewBag.nickname" />
        <button type="submit">Send Friend Request</button> 
    </form>


    <br />
}