@model SocialJohnny.Models.Profile
@{
    ViewBag.Title = "ShowProfile";
}

<h2>@Model.FirstName</h2>
<h2>@Model.LastName</h2>
<h2>@Model.Nickname</h2>
<h2>@Model.Email</h2>
<h2>@Model.Description</h2>