@model SocialJohnny.Models.Profile

<h1>@ViewBag.NicknameMessage</h1>

<link rel="stylesheet" href="../Content/manual.css">

<div class="wrapperBut">
<h2>Editare Profil</h2>

<form method="post" action="/Profiles/Edit/@Model.ProfileId">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.Label("IsPrivate", "Profil Privat", new { @class = "input" })
    @Html.Editor("IsPrivate")
    <br /><br />        
    @Html.Label("Nickname", "NickName", new { @class = "input" })<br />
    @Html.Editor("Nickname")
    <br />
    @Html.Label("FirstName", "Prenume", new { @class = "input" })<br />
    @Html.Editor("FirstName")
    <br />
    @Html.Label("Lastname", "Nume", new { @class = "input" })<br />
    @Html.Editor("LastName")
    <br />
    @Html.Label("City", "Oras", new { @class = "input" })<br />
    @Html.Editor("City")
    <br />
    @Html.Label("Job", "Loc de munca", new { @class = "input" })<br />
    @Html.Editor("Job")
    <br />
    @Html.Label("Description", "Descriere", new { @class = "input" })<br />
    @Html.Editor("Description")

    <br />
    <br />
    <button type=" submit">Modifica profilul</button>

</form>
</div>